:root {
    --green: rgba(211, 245, 190, 0.47);
}
body {
    background-color: azure;
    margin-top:35px;
    margin-left: 35px;
}
h1 {
    text-align: center;
    font-size: 7vw;
    font-weight: bold;
    text-transform: uppercase;
    background-image:  linear-gradient(0deg, rgba(67,195,34,0.8323704481792717) 0%, rgba(253,65,45,0.8855917366946778) 100%);
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.select-list {
    border: 1px solid green;
    box-shadow: 0 0 15px green ;
    background-color: var(--green);
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    font-weight: bolder;
    padding: 3px;
    margin-right: 10px;
    margin-bottom: 15px;
}
#select {
    margin: 0 8%;
    display: inline;
}
#select::before {
    content: "Make your numbers";
    margin-right: 10px;
    font-size: 1.4em;
}
#images {
    text-align: center;
    position: relative;
    margin-left: 100px;
}
img {
    position: absolute;
    width: 700px;
    left: 0;

}
.xSigne {
    font-weight: bold;
    font-size: 22px;
}
#xSigne1 {
    position: absolute;
    left: 22px;
    top: 8px;
    font-weight: bold;
    font-size: 22px;
}
.caseBox {
    position: absolute;
    width: 112px;
    height:152px;
}
#printHistory {
    margin-bottom: 35px;
    padding: 30px;
    text-align: center;
    border: 1px solid #dee2e6;
    border-radius: 30px;
    width: 260px;
    background-color: var(--green);
}
.print-text {
    font-size: 1.6em;
    font-weight: bold;
}
#historyScreen {
    display: flex;
}
.num-numbers {
    font-size: 2em;
    margin: 25px 0;
}
#generator-select {
    text-align: center;
    border-radius: 15px;
    margin: 20px 0;
    padding: .25rem .5rem;
}
.num-numbers {
    padding: 10px 35px;
    border-radius: 15px;
    background-color: var(--green);
    width: 350px;
    font-size: 1.4em;
}
.num-numbers::before {
    content: "Last generated number: ";
    font-size: .8em;
}